body{
    margin: 0;
    padding: 0;
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    align-items: center;
    justify-content: center;
    
}
#hed{
    text-align: center;
    border-bottom: 1px solid white;
    margin: auto;
}
.card{
    width: 300px;
    margin: 20px;
    margin-top: 20px;
    
}



.title{
    text-align: center;
    margin: 55px 120px;
    color: white;
}

#list{
    float:right;
    margin:20px;
}

